<br>
<form action="/create" method="post">
    <span>제목:</span>
    <input type="text" name="title"/><br><br>
    <span>내용:</span>
    <input type="text" name="contents"/><br>
    <input type="submit"/>
</form>
<br>
<a href="/index">뒤로가기</a>