<form method="post" action="/result">
    <input type="number" name="first"/> + 
    <input type="number" name="second"/>
    <input type="submit">
</form>
<br>
<a href="/result/1/1">1 더하기 1의 결과는?</a>